[user]
    name = tandasat
    email = tanda.sat@gmail.com
[color]
    ui = true
[color "diff"]
    whitespace = red reverse
[diff]
    tool = meld
[alias]
    stash-unapply = !git stash show -p | git apply -R
    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
    allgraph = !git graph --all
    g = !git allgraph
    co = checkout
    s = status
    ctags = !.git/hooks/ctags
    d = diff
    ds = diff --staged
    whatadded = log --diff-filter=A
    cleanup = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"  # Removes all local branches that have already been merged into this one
    cleanup-check = "!echo 'These branches have already been merged'; git branch --merged | grep -v '\\*'"  # Displays branches that would be deleted by the 'cleanup' alias
    addnows = "!sh -c 'git diff -w --no-color "$@" | git apply --cached --ignore-whitespace' -" # Stages all non-whitespace changes
[merge]
    tool = meld
[core]
    mergeoptions = --no-commit
[push]
    default = simple

[gui]
